<div class="row">

  <div class="col-md-4">

    <div class="list-group">
      <a class="list-group-item list-group-item-action"
      [routerLink]="['/studenti', studente.id, studente.nome, studente.corso, studente.status]"
      *ngFor="let studente of listaStudenti">
        {{studente.nome}}
      </a>
    </div>

  </div>

  <div class="col-md-4">
    <!-- Dentro questo router outlet vengono renderizzare le sottorotte, cioè le rotte figlie -->
    <router-outlet></router-outlet>
  </div>

</div>
